@import url(base.css);
body {
  background: #000; }

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0; }
  .swiper-container .swiper-wrapper {
    width: 500%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between; }
    .swiper-container .swiper-wrapper .swiper-slide {
      width: 20%;
      height: 100%;
      position: relative; }
      .swiper-container .swiper-wrapper .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto; }
      .swiper-container .swiper-wrapper .swiper-slide .wen {
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 0.4rem;
        font-size: 0.32rem;
        text-align: center;
        line-height: 0.5rem;
        color: #fff; }
